span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

nav.menu {
	background-color: black;
}

div.centerH {
	margin: auto;
}

html {
	height: 100%;
	background: rgb(0, 2, 54);
	background: linear-gradient(180deg, rgba(0, 2, 54, 1) 0%, rgba(31, 40, 205, 1) 10000%);
	font-family: "Curse Casual";
	color: white;
	font-size: 1.75vw;
	overflow-x: hidden;
}

blockquote {
	border-left: 6px solid gray;
}

body {
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

@font-face {
	font-family: "Curse Casual";
	src: url('https://devhonk.github.io/cursecasual.ttf');
}

a {
	color: #52d7d9;
}

a.hidden {
	color: white;
	text-decoration: none;
}

a.hidden+a.hidden {
	margin-left: 20px;
}
div.badiv+div.badiv {
	margin-left: 1vw;
	margin-top: 1vw;
}
centeredText {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.badiv {
	border-radius: 0.5vw;
	background-color: #303136;
	display: inline-block;
	animation: movingcards 3s;
}
@keyframes movingcards {
	from {
		transform: translate(0, 100%);
		opacity: 0;
	}
  	to {
	  transform: translate(0%, 0%);
		opacity: 1;
	}
}
